mixin fat_line(y)
    line.black(x1=8 y1=y x2=24 y2=y stroke-width=3 stroke-linecap='round')

svg#open_menu_button.icon(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32 32' title="setting")
    +fat_line(8)
    +fat_line(16)
    +fat_line(24)
