
svg#show_answer_button.icon(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32 32' title="shuffle")
    path(d="M8 10A8 8 0 1 1 16 18l0 4,0 -4A8 8 0 1 0 8 10" stroke="black" stroke-width=2 stroke-linecap='round')
    circle(cx=16 cy=28 r=3 fill="red")