div.setting#setting
    fieldset.image
        legend 画像
        .content
            .image_wrapper
                img#img_preview
            input#file_input(type="file" accept="image/*")
    fieldset.cutting 
        legend コマわり
        .content
            label ↔️
                input#x_size(type="number" value="3" min=2)
            label ↕️
                input#y_size(type="number" value="3" min=2)
    div.control
        button#setting_ok Go
        button#setting_cancel Cancel